<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Digital Literacy</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="static\assets\images\android-icon-48x48.png">

        <!--Google Fonts link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">


        <link rel="stylesheet" href="static/assets/css/slick.css">
        <link rel="stylesheet" href="static/assets/css/slick-theme.css">
        <link rel="stylesheet" href="static/assets/css/animate.css">
        <link rel="stylesheet" href="static/assets/css/fonticons.css">
        <link rel="stylesheet" href="static/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/assets/css/bootstrap.css">
        <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="static/assets/css/bootsnav.css">


        <!--For Plugins external css-->
        <!--<link rel="stylesheet" href="static/assets/css/plugins.css" />-->

        <!--Theme custom css -->
        <link rel="stylesheet" href="static/assets/css/style.css">
        <!--<link rel="stylesheet" href="static/assets/css/colors/maron.css">-->

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="static/assets/css/responsive.css" />

        <script src="static/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body data-spy="scroll" data-target=".navbar-collapse">


        <!-- Preloader -->

        <!-- <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                </div>
            </div>
        </div> -->

        <!--End off Preloader -->


        <div class="culmn">
            <!--Home page style-->


            <nav class="navbar navbar-default navbar-fixed white no-background bootsnav text-uppercase">
                <!-- Start Top Search -->
                <!-- <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div> -->
                <!-- End Top Search -->

                <div class="container">    
                    <!-- Start Atribute Navigation -->
                    <!-- <div class="attr-nav">
                        <ul>
                            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="badge">3</span>
                                </a>
                                <ul class="dropdown-menu cart-list">
                                    <li>
                                        <a href="#" class="photo"><img src="static/assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
                                        <h6><a href="#">Delica omtantur </a></h6>
                                        <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                                    </li>
                                    <li>
                                        <a href="#" class="photo"><img src="static/assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
                                        <h6><a href="#">Delica omtantur </a></h6>
                                        <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                                    </li>
                                    <li>
                                        <a href="#" class="photo"><img src="static/assets/images/thumb01.jpg" class="cart-thumb" alt="" /></a>
                                        <h6><a href="#">Delica omtantur </a></h6>
                                        <p class="m-top-10">2x - <span class="price">$99.99</span></p>
                                    </li> -->
                                    <!---- More List ---->
                                    <!-- <li class="total">
                                        <span class="pull-right"><strong>Total</strong>: $0.00</span>
                                        <a href="#" class="btn btn-cart">Cart</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>         -->
                    <!-- End Atribute Navigation -->
                
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="index" >
                            <img src="static/assets/images/bnvs_greylogo.png" style="width: 110px" class="logo logo-display" alt="">
                            <img src="static/assets/images/bnvs_logo.png" style="width: 110px" class="logo logo-scrolled" alt="">
                        </a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li><a href="index">home</a></li> 
							<!-- <li><a href="aboutus">about</a></li> 							                    -->
                            <li><a href="aisolution">AI solution</a></li>
                            <li><a href="dl">digital literacy</a></li> 							
                            <li><a href="digitaltransform">digital transformation</a></li>                                     
                            <li><a href="contactus">contact</a></li>                     
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>  


            </nav>


            <!--Home Sections-->

            <section id="hello" class="model-banner bg-mega">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home text-center">
                            <div class="model_text">
                                <h1 class="text-white text-uppercase">digital literacy</h1>
                                <ol class="breadcrumb">
                                    <li><a href="index">Home</a></li>
                                    <li class="active"><a href="dl">Digital Literacy</a></li>
                                </ol>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->

            </br>
            </br>
    


            <!--Portfolio Section-->
            <div class="container" >
                <div class="row">
                    <div style="width: 100%; text-align: center;"><h2>For Future Generations</br></br><b>D-Future</b></h2></div>
                    </br>
                    <p style="text-align: center; font-size: 20px; font-weight: 900; line-height:3vh;"> BNVs의 "d-future"는 청소년을 대상으로 한 빅데이터와 AI 교육 프로그램입니다.</br>
                        이 과정은 미래 직업 트렌드를 이해하고 필요한 기술 역량을 배울 수 있는 기회를 제공합니다. </br>
                        "d-future"는 청소년들이 미래의 기술 변화에 능동적으로 대응하며,</br>창의적인 문제 해결 능력을 키울 수 있도록 설계되었습니다. </br>
                        이 교육 플랫폼을 통해 청소년들은 미래 사회에서 변화를 주도하는</br>리더로 성장할 수 있을 것입니다.” </p>
                    </br>
                    </br>
                    


                    <div class="service_content_area">
                        <!-- Service LEFT SIDE -->
                        <div class="col-md-3 col-md-offset-2 service_left wow fadeInLeft">
                            <!-- Service -->

                            <div class="service_items">
                                <div class="row">

                                    <!-- ICON -->
                                    <div class="col-xs-3">
                                        <div class="hexagon">
                                            <div class="about-content">
                                                <span class="fa fa-microchip dl-icon" style="color:rgb(255, 255, 255); background-color: rgb(129, 129, 129, 0.8);"></span>
                                            </div>    
                                        </div>
                                    </div>

                                    <div class="col-xs-9">
                                        <div class="text-left service_left_text">
                                            <h4 class="main-color">A.I</h4>
                                            <p style="font-weight: 900;">인공지능의 이론적 개념을 학습하고 다양한 활동을 통해 인공지능의 필요성을 인식합니다.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- end Single Service item -->

                            <!-- Service -->
                            <div class="service_items">
                                <div class="row">
                                    <!-- ICON -->
                                    <div class="col-xs-3">
                                        <div class="hexagon">
                                            <div class="about-content">
                                                <span class="fa fa-database" style="color:rgb(255, 255, 255); background-color: rgb(129, 129, 129, 0.8);"></span>
                                            </div>    
                                        </div>
                                    </div>

                                    <div class="col-xs-9">
                                        <div class="text-left service_left_text">
                                            <h4 class="main-color">Big Data</h4>
                                            <p style="font-weight: 900;">빅데이터의 개념, 종류, 윤리 등 빅데이터의 이론적 개념에 대해 학습 하고 전처리부터 분석까지 다양한 활동을 진행합니다.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- end Single Service item -->

                            <!-- Service -->
                            <div class="service_items">
                                <div class="row">
                                    <!-- ICON -->
                                    <div class="col-xs-3">
                                        <div class="hexagon">
                                            <div class="about-content">
                                                <span class="fa fa-pie-chart" style="color:rgb(255, 255, 255); background-color: rgb(129, 129, 129, 0.8);"></span>
                                            </div>    
                                        </div>
                                    </div>

                                    <div class="col-xs-9">
                                        <div class="text-left service_left_text">
                                            <h4 class="main-color">Data Statistics Report</h4>
                                            <p style="font-weight: 900;">학생들이 직접 데이터를 수집하고, 분석하여 통계보고서로 만들어 보는 과정입니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="service_items">
                                <div class="row" style="margin-bottom: 10px;">
                                    <!-- ICON -->
                                    <div class="col-xs-3">
                                        <div class="hexagon">
                                            <div class="about-content">
                                                <span class="fa fa-code"style="color:rgb(255, 255, 255); background-color: rgb(129, 129, 129, 0.8);"></span>
                                            </div>    
                                        </div>
                                    </div>

                                    <div class="col-xs-9">
                                        <div class="text-left service_left_text">
                                            <h4 class="main-color">Python</h4>
                                            <p style="font-weight: 900;">Python 기초문법부터, 인공지능을 활용할 수 있는 심화내용까지 학습합니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end Single Service item -->


                        </div>
                        <!-- /END Service LEFT -->

                        <!-- PHONE IMAGE -->
                        <div class="col-md-2 sm-m-top-40 sm-text-center">
                            <div class="service-img wow bounceIn">
                                <img src="static/assets/images/dl5.jpg" alt="Architect Img" style="height:60vh" >
                            </div>
                        </div>

                        <!-- Service RIGHT -->
                        <div class="col-md-3 service_right wow fadeInRight sm-m-top-40" >

                            <!-- Service -->
                            <div class="service_items">
                                <div class="row">

                                    <div class="col-xs-9">
                                        <div class="service_right_text p-l-15 text-right">
                                            <h4 class="main-color">MetaVerse</h4>
                                            <p style="font-weight: 900;">메타버스의 개념을 학습하고 여러가지 툴을 통해 자신만의 공간을 구축하고 사람들과 공유해보는 과정입니다.</p>
                                        </div>
                                    </div>

                                    <!-- ICON -->
                                    <div class="col-xs-3">
                                        <div class="hexagon">
                                            <div class="about-content">
                                                <span class="fa fa-cubes" style="color:rgb(255, 255, 255); background-color: rgb(129, 129, 129, 0.8);"></span>
                                            </div>    
                                        </div>
                                    </div>

                                </div>

                            </div> <!-- end Single Service item -->



                            <!-- Service -->
                            <div class="service_items">
                                <div class="row">

                                    <div class="col-xs-9">
                                        <div class="service_right_text p-l-15 text-right">
                                            <h4 class="main-color">Chat-GPT</h4>
                                            <p style="font-weight: 900;">Chat-GPT의 다양한 활용방법에 대해 배우고 실습해보는 과정입니다.</p>
                                        </div>
                                    </div>


                                    <!-- ICON -->
                                    <div class="col-xs-3">
                                        <div class="hexagon">
                                            <div class="about-content">
                                                <span class="fa fa-comments" style="color:rgb(255, 255, 255); background-color: rgb(129, 129, 129, 0.8);"></span>
                                            </div>    
                                        </div>
                                    </div>

                                </div>

                            </div><!-- end Single Service item -->  

                            <!-- Service -->
                            <div class="service_items">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <div class="service_right_text p-l-15 text-right">
                                            <h4 class="main-color">Image Generate A.I</h4>
                                            <p style="font-weight: 900;">이미지생성 AI를 활용하여 의도한 이미지를 생하는 방법을 배우고 실습해보는 과정입니다.</p>
                                        </div>
                                    </div>

                                    <!-- ICON -->
                                    <div class="col-xs-3">
                                        <div class="hexagon">
                                            <div class="about-content">
                                                <span class="fa fa-image" style="color:rgb(255, 255, 255); background-color: rgb(129, 129, 129, 0.8);"></span>
                                            </div>    
                                        </div>
                                    </div>

                                </div>
                            </div><!-- end Single Service item --> 
                            <div class="service_items">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <div class="service_right_text p-l-15 text-right">
                                            <h4 class="main-color">Arduino</h4>
                                            <p style="font-weight: 900;">파이썬 기초 지식과 아두이노를 활용해 간단한 발명품을 만들어보는 과정입니다.</p>
                                        </div>
                                    </div>

                                    <!-- ICON -->
                                    <div class="col-xs-3">
                                        <div class="hexagon">
                                            <div class="about-content">
                                                <span class="fa fa-gears" style="color:rgb(255, 255, 255); background-color: rgb(129, 129, 129, 0.8);"></span>
                                            </div>    
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div><!-- /END Service RIGHT -->
                    </div>
                </div> <!--End off row -->
            </div>
            </br>
            </br>
            </br>
            </br>
            </br>
            <div style="margin-left: 10%; width: 80%; border-top: rgb(189, 189, 189, 0.7) 1px solid "></div>
            </br>
            </br>
            </br>
            </br>
            <div style="width: 100%; text-align: center;"><h2>K-Digital Training project</h2></br><h3>Project Mentoring</h3></div></br></br></br>
            </br>
            <!--Blog Features Section-->
            <section id="blog_fashion" class="blog_fashion roomy-100" style="padding-top: 0px;">
                <div class="container">
                    <div class="row" style="margin-right: 150px;">
                        <!--project1-->
                        <div class="main_blog_fashion">
                            <div class="col-md-3 col-md-offset-1">
                                <div class="blog_fashion_left">
                                    <!-- <div class="blog_fashion_img">
                                        <img src="static/assets/images/fashion-img1.jpg" alt="" />
                                    </div> -->
                                    <iframe width=400px height="250" src="https://www.youtube.com/embed/XmNG8G_6Wyo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                    <div>
                                        <h3 class="mentoring">1차 - 데이터 분석 프로젝트 </h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--project2-->
                        <div class="main_blog_fashion">
                            <div class="col-md-3 col-md-offset-1">
                                <div class="blog_fashion_left">
                                    <!-- <div class="blog_fashion_img">
                                        <img src="static/assets/images/fashion-img1.jpg" alt="" />
                                    </div> -->
                                    <iframe  width=400px height="250" src="https://www.youtube.com/embed/1sboJnrMk1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                    <div>                                       
                                        <h3 class="mentoring">2차 - 머신러닝 응용 솔루션 </h3></a>                     
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--project3-->
                        <div class="main_blog_fashion">
                            <div class="col-md-3 col-md-offset-1">
                                <div class="blog_fashion_left">
                                    <iframe width=400px height="250" src="https://www.youtube.com/embed/DU1CQR_yhr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                    <div>                                   
                                        <h3 class="mentoring">3차 - 딥러닝 응용 솔루션</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row -->
             
                </div><!-- End off container -->
            </section><!-- End off blog Fashion -->   
            <div style="margin-left: 10%; width: 80%; border-top: rgb(189, 189, 189, 0.7) 1px solid "></div>
            </br>
            </br>
            </br>
            </br>
            </br>
            <div style="width: 100%; text-align: center;"><h2>Copetition Award</h2></div></br></br></br>
                     
            <section id="blog_fashion" class="blog_fashion roomy-100" style="padding-bottom: 0px; padding-top: 0px;">
                <div class="container">
                    <div class="row" style="margin-right: 150px;">
                        <!--project4-->
                        <div class="main_blog_fashion">
                            <div class="col-md-3 col-md-offset-1">
                                <div class="blog_fashion_left">
                         
                                    <iframe width=400px height="250"  src="https://www.youtube.com/embed/WclN4I3VZlI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                    <div>
                                        
                                        <h2 class="mentoring">긴급차량 골든타임 확보 AI기반 관제 솔루션</h2>
                                        <h3 class="mentoring" style="color: rgb(97, 97, 97);">- 2022 디지털 헤커톤 최우수상</h3>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--project5-->
                        <div class="main_blog_fashion">
                            <div class="col-md-3 col-md-offset-1">
                                <div class="blog_fashion_left">
                              
                                    <iframe width=400px height="250"  src="https://www.youtube.com/embed/1p_6nrTzrTE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                    <div>
                                        
                                        <h2 class="mentoring">AI 기반 최적 하늘길 구축시스템</h2>
                                        <h3 class="mentoring" style="color: rgb(97, 97, 97);">- 2022 국토부 데이터 활용 경진대회 우수상</h3>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--project6-->
                        <div class="main_blog_fashion">
                            <div class="col-md-3 col-md-offset-1">
                                <div class="blog_fashion_left">
                                  
                                    <iframe width=400px height="250"  src="https://www.youtube.com/embed/kAf4FpgKxVk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                    <div>
                                        <h2 class="mentoring">서울시 지하철역 어린이집 입지 선정</h2>
                                        <h3 class="mentoring" style="color: rgb(97, 97, 97);">- 2022 데이터 안심구역 데이터 활용 경진대회 최우수상</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row -->
                   
                </div><!-- End off container -->
            </section><!-- End off blog Fashion -->
        </br>
        </br>
        </br>
   
            <section id="blog_fashion" class="blog_fashion roomy-100" style="padding-bottom: 0px; padding-top: 0px;">
                <div class="container">
                    <div class="row" style="margin-right: 150px;">
                        <!--project7-->
                        <div class="main_blog_fashion">
                            <div class="col-md-3 col-md-offset-3">
                                <div class="blog_fashion_left">
                                    <!-- <div class="blog_fashion_img">
                                        <img src="static/assets/images/fashion-img1.jpg" alt="" />
                                    </div> -->
                                    <iframe width=400px height="250"  src="https://www.youtube.com/embed/2K6YDivrymQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                    <div>
                                        
                                        <h2 class="mentoring">도서말뭉치를한 인공지능 서비스 공모전</h2>
                                        <h3 class="mentoring" style="color: rgb(97, 97, 97);">- 2021 과기부, NIA 공동 주최 웅진북센 주관 AI서비스 공모전 최우수상 수상</h3>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--project8-->
                        <div class="main_blog_fashion">
                            <div class="col-md-3 col-md-offset-1">
                                <div class="blog_fashion_left">
                                    <!-- <div class="blog_fashion_img">
                                        <img src="static/assets/images/fashion-img1.jpg" alt="" />
                                    </div> -->
                                    <iframe width=400px height="250"  src="https://www.youtube.com/embed/gc5cR3-ZZi8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                    <div>
                                        
                                        <h2 class="mentoring">소아흉부 폐질환 진단 및 분류</h2>
                                        <h3 class="mentoring" style="color: rgb(97, 97, 97);">- 2021 고려대, 에프에이솔루션 주관 AI모델 개발 경진대회 2위 수상</h3>


                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div><!-- End off row -->
                   
                </div><!-- End off container -->
            </section><!-- End off blog Fashion -->
        </br>
    </br>
</br>
</br>
</br>




            <!--Company section-->

            <!-- <section id="company" class="company bg-light">
                <div class="container">
                    <div class="row">
                        <div class="main_company roomy-100 text-center">
                            <h3 class="text-uppercase">pouseidon.</h3>
                            <p>7th floor - Palace Building - 221b Walk of Fame - London- United Kingdom</p>
                            <p>(+84). 123. 456. 789  -  info@poiseidon.lnk</p>
                        </div>
                    </div>
                </div>
            </section> -->


          


            <!-- scroll up-->
            <div class="scrollup">
                <a href="#"><i class="fa fa-chevron-up"></i></a>
            </div><!-- End off scroll up -->


            <footer id="footer" class="footer bg-mega">
                <div class="container">
                    <div class="row">
                        <div class="main_footer p-top-40 p-bottom-30">
                            <!-- <div class="col-md-6 text-center sm-text-center"> -->
                            <div class="col-md-12 text-center sm-text-center">
                                <p class="wow fadeInRight" data-wow-duration="1s">
                                    &copy; 2023 BNVsolution. All rights reserved.
                                    <!-- <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a>  -->                                 
                                </p>
                            </div>
                            <!-- <div class="col-md-6 text-right sm-text-center sm-m-top-20">
                                <ul class="list-inline">
                                    <li><a href="">Facebook</a></li>
                                    <li><a href="">Twitter</a></li>
                                    <li><a href="">Instagram</a></li>
                                    <li><a href="">Pinterest</a></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>




        </div>

        <!-- JS includes -->

        <script src="static/assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="static/assets/js/vendor/bootstrap.min.js"></script>

        <script src="static/assets/js/isotope.min.js"></script>
        <script src="static/assets/js/jquery.magnific-popup.js"></script>
        <script src="static/assets/js/jquery.easing.1.3.js"></script>
        <script src="static/assets/js/slick.min.js"></script>
        <script src="static/assets/js/jquery.collapse.js"></script>
        <script src="static/assets/js/bootsnav.js"></script>


        <!-- paradise slider js -->

        <!--
                <script src="http://maps.google.com/maps/api/js?key=AIzaSyD_tAQD36pKp9v4at5AnpGbvBUsLCOSJx8"></script>
                <script src="static/assets/js/gmaps.min.js"></script>
        
                <script>
                    function showmap() {
                        var mapOptions = {
                            zoom: 8,
                            scrollwheel: false,
                            center: new google.maps.LatLng(-34.397, 150.644),
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
                        $('.mapheight').css('height', '350');
                        $('.maps_text h3').hide();
                    }
        
                </script>-->





        <script src="static/assets/js/plugins.js"></script>
        <script src="static/assets/js/main.js"></script>

    </body>
</html>
